@model EventEase.Models.Booking

@{
    ViewData["Title"] = "Booking Details";
}

<div class="container mt-4">
    <h1>Booking Details</h1>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Venue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Venue.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingDate)
        </dd>
    </dl>

    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>